@import "../../../styles/partials/config";

.headerContainer {
  background-color: $dark-theme;

  .contentContainer {
    @include flex(space-between, center);
    width: 100%;

    .navigationContainer {
      ul {
        list-style: none;
        @include flex(space-between, center);
        gap: 12px;

        li {
          padding: 32px 12px;
          font-size: 16px;
          position: relative;

          .navigationLink {
            color: $white;
          }

          .downArrow {
            transform: rotate(0deg);
            transition: all 0.8s ease;
          }

          .subMenuCardContainer {
            display: none;
            position: absolute;
            top: 100%;
            left: -250%;
            min-width: 800px;

            &.withHeadingLayout {
              min-width: 1400px;

              .leftContainer {
                max-width: 30%;
              }

              .rightContainer {
                max-width: 70%;
              }
            }

            .leftContainer {
              padding: 48px;
              background-color: $light-black;
              max-width: 50%;
              width: 100%;

              .cardContainer {
                color: $white;
                padding: 24px;
                background-color: $dark-theme;
                border: 2px solid $dark-theme;
                border-radius: 12px;
                transition: all 0.7s ease;
                cursor: pointer;
                margin-bottom: 16px;

                .cardImage {
                  width: 100%;
                  object-fit: cover;
                  margin-bottom: 12px;
                }

                .cardBody {
                  @include flex(space-between, center);
                  gap: 16px;
                }

                &:hover {
                  border: 2px solid $light-blue;
                }
              }
            }

            .rightContainer {
              padding: 48px;
              background-color: $dark-theme;
              width: 50%;

              .navigationItem {
                height: 60px;
                overflow: hidden;
                display: block;
                color: $white;
                padding: 20px;
                background-color: $light-black;
                border: 2px solid $light-black;
                border-radius: 10px;
                transition: all 0.7s ease;
                margin-bottom: 12px;

                .navigationTitle {
                  @include flex(space-between, center);
                  gap: 32px;
                  margin-bottom: 16px;
                }

                .navigationDetails {
                  font-size: 16px;
                  opacity: 60%;
                }

                &:hover {
                  border: 2px solid $light-blue;
                  height: 150px;
                }
              }

              .headingContainer {
                display: flex;
                justify-content: space-between;
                gap: 12px;
                margin-bottom: 16px;

                .headingContent {
                  .heading {
                    color: $white;
                    font-size: 20px;
                    margin-bottom: 12px;
                  }

                  .descriptionContent {
                    display: flex;
                    justify-content: space-between;
                    gap: 16px;

                    .description {
                      color: $white;
                      font-size: 16px;
                      opacity: 60%;
                    }

                    .descriptionCta {
                      color: $primary;
                      font-size: 16px;
                      padding: 12px;
                      background-color: transparent;
                      border: 1px solid $primary;
                      border-radius: 6px;
                    }
                  }
                }
              }

              .navigationItemContainer {
                display: flex;
                justify-content: space-between;
                gap: 20px;
              }
            }
          }

          &:hover {
            .downArrow {
              transform: rotate(-180deg);
            }

            .subMenuCardContainer {
              display: flex;
              justify-content: flex-start;
            }
          }

          &.active {
            .navigationLink {
              color: $primary;
            }
          }
        }
      }
    }

    .ctaContainer {
      @include flex(space-between, center);
      gap: 32px;
    }
  }
}
